.spacer {
  padding-left: 20px;
}

.spacer-sm {
  padding-left: 10px;
}

.green {
  color: green;
}

.red {
  color: red;
}

#info{
  margin-top: -15%;
}
#activeuser{
  margin-left: 100%;
  margin-top: -12%;
  margin-right: -100%;
}
#cancel{
  margin-left: 144%;
  margin-top: -12%;
}


