#form{
  text-align: center;
  margin-left: 600px;
}
#itemname{
  margin-left: 30%;
  margin-right: 30%;
}
#desc{
  margin-left: 30%;
  margin-right: 30%;
}
#image{
  margin-left: 30%;
  margin-right: 30%;
}
#sub{
  margin-left: 30%;
  margin-right: 30%;
}

