<br>
<br>
<div class="container">

  <div class="row">
    <div class="col-sm-5"></div>

    <div class="registerDiv">
      <h2>Register</h2>


      <form [formGroup]="angForm" novalidate>
        <tr>
          <td>
            <div class="form-group" id="firstName">
                <label class="center-block">First Name:
                <input class="form-control" type="text" formControlName="firstName" [(ngModel)]="newUser.firstName">
              </label>
              </div>
              <div *ngIf="angForm.control['firstName'].invalid && (angForm.controls['firstName'].dirty || angForm.controls['firstName'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['firstName'].errors.required">First name is required.</div>
              </div>

            </td>
            <td>
              <div id="lastName">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" [(ngModel)]="newUser.lastName" />
              </div>

            </td>
          </tr>

          <tr>
            <td>
              <div id="username">
                <label for="username">Username</label>
                <input type="text" name="username" [(ngModel)]="newUser.username" />
              </div>

            </td>
            <td>
              <div id="password">
                <label for="password">Password</label>
                <input type="password" name="password" [(ngModel)]="newUser.password" />
              </div>

            </td>
          </tr>

          <tr>
            <td>
              <div id="email">
                <label for="email">Email</label>
                <input type="text" name="email" [(ngModel)]="newUser.email" />
              </div>

            </td>
            <td>
              <div id="street">
                <label for="street">Street</label>
                <input type="text" name="street" [(ngModel)]="newUser.address.street" />
              </div>
            </td>

          </tr>

          <tr>
            <td>
              <div id="state">
                <label for="state">States</label>
                <input type="text" name="state" [(ngModel)]="newUser.address.state" />
              </div>

            </td>
            <td>
              <div id="city">
                <label for="city">City</label>
                <input type="text" name="city" [(ngModel)]="newUser.address.city" />
              </div>

            </td>
          </tr>

          <tr>
            <td>
              <div id="zipcode">
                <label for="zipcode">Zipcode</label>
                <input type="number" name="zipcode" [(ngModel)]="newUser.address.zipCode" />
              </div>
            </td>
          </tr>


        <br>
        <tr>
          <td>
            <div class="form-group" id="submit">
              <input type='submit' (click)='onSubmit()' class="btn btn-primary">

              <a routerLink="/login" class="btn btn-link">Cancel</a>
            </div>
          </td>
        </tr>

      </form>
    </div>
  </div>
</div>
