form {
    padding-top: 5px;
    padding-right: 850px;
    padding-bottom: 15px;
    padding-left: 700px;
}

h2 {
  padding-top: 5px;
  padding-right: 850px;
  padding-bottom: 15px;
  padding-left: 700px;
}
