<!--
<div id='title'>
<h1>My Accepted Offers</h1>
</div>
<div *ngFor="let item of items" id="showOffersForItemsThisUserHasWon" class="card-deck" style="width: 70rem;">

  <div *ngIf="item.itemStatus == 2">
      <h1>{{item.name}}</h1>
        <div *ngFor="let offer of item.offers">
            <div *ngIf="offer.offerStatus == 2">
          <div *ngIf="offer.user.id == isBidder.id">
          <img class="card-img-top" src="{{item.imageUrl}}" alt="Card image cap" href="#/">
          <span>{{item.name}}</span>
          <br>
          <span>{{item.description}}</span>
          <br>
          <button (click)='navItem(item)' class="btn btn-success" id='register-button' type="submit">View Item</button>
        </div>
      </div>
      </div>
  </div>
  </div> -->

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container" *ngFor="let item of items" id="showOffersForItemsThisUserHasWon">
      <div *ngIf="item.itemStatus == 2" class="col-md-14">
                <div *ngFor="let offer of item.offers">
            <div *ngIf="offer.offerStatus == 2">
        <div *ngIf="offer.user.id == isBidder.id" class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <img *ngIf="offer.user.id == isBidder.id" class="card-img-top" src="{{item.imageUrl}}" alt="Card image cap"
                  href="#/">
                <br>
                <br>
              </div>
              <div *ngIf="offer.user.id == isBidder.id" class="col-sm-4">
                <br>
                <h3>Item Name: </h3>
                <li *ngIf="item.itemStatus == 2">{{item.name}}</li>
                <br>
                <h3>Item Description: </h3>
                <li *ngIf="item.itemStatus == 2">{{item.description}}</li>

              </div>
              <div *ngIf="offer.user.id == isBidder.id" class="col-sm-4">
                <br>
                <br>
                <button (click)='navItem(item)' class="btn btn-warning" id='register-button' type="submit">View
                  Offer</button>
                <br>
                <br>
                <div>
                  <div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>






  <!-- <h1>Items I won</h1>
  <div *ngFor="let item of items"></div>
    <div *ngIf="item.itemStatus == 2">
            <br>
            <br>
            <br>
            <img class="card-img-top" *ngIf="offer.user.id == isBidder.id"
              src="{{item.imageUrl}}"
              alt="Card image cap" href="#/">
            <span *ngIf="offer.user.id == isBidder.id">{{item.name}}</span>
            <br>
            <span *ngIf="offer.user.id == isBidder.id">{{item.description}}</span>
            <br>
            <span *ngIf="offer.user.id == isBidder.id">{{offer.description}}</span>
            <br>
      </div>
    </div>  -->
