<div id="toolTip">
  <button (click)="getItemsImBiddingOn()" type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Items I’m bidding on" id>
    Items I’m bidding on
  </button>
  <button (click)="getItemsImSelling()" type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Items I’m selling">
    Items I’m selling
  </button>
  <button (click)="getItemsIveWon()" type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip=" Items I've won">
    Items I've won
  </button>
</div>
