<div class='container-fluid' id='navbardiv'>
  <span *ngIf='mainnavbar' class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#">eBarter!</a>
      <span class='navbar-text'>
        <div ngbDropdown class="nav-item dropdown">
          <a class="nav-link navbar-text" id="menudropdown" ngbDropdownToggle>Menu</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>List Item</button>
            <button ngbDropdownItem>My Completed Deals</button>
            <button ngbDropdownItem>My Profile</button>
            <button ngbDropdownItem>Logout</button>
           </div>
          </div>
    </span>
    <span class='float-right navbar-text' id='welcome'>Welcome USERNAME
      <span class='spacer'></span>
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Logout</button>
    </span>
  </span>

  <div *ngIf='loginnavbar' class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">eBarter</a>
      <span class='float-right'>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Username" aria-label="Username">
          <input class="form-control mr-sm-2" type="search" placeholder="Password" aria-label="Password">
          <span class='spacer'></span>
          <button class="btn btn-warning my-2 my-sm-0" type="submit">Login</button>
        </form>
      </span>
  </div>
</div>
