
.welcome {
  font-style: italic;
}

#navbardiv {
  vertical-align: baseline;
  font-size: 18px;
  color: white;
  background-color:#0087c6;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.spacer {
  padding-left: 30px;
}

.navbar-text {
  white-space: nowrap;
  font-size: 100%;
  font-weight: bold;
  color: white !important;
  display: inline-block;
}

.nowrap {
  white-space: nowrap !important;
}

.login-box {
  width: 150px;
  height: 28px;
}
