<div class='container-fluid' id='navbardiv'>
  <div *ngIf='mainnavbar'>
    <span class='float-left'>
      <span (click)='navHome()'>eBarter!</span>
      <span class='spacer'></span>
      <span ngbDropdown class="nav-item dropdown">
        <a id="menudropdown" ngbDropdownToggle>Menu</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)='navList()'ngbDropdownItem>List Item</button>
          <button (click)='navCompleted()'ngbDropdownItem>My Completed Deals</button>
          <button (click)='navProfile()'ngbDropdownItem>My Profile</button>
          <button (click)='navLogout()'ngbDropdownItem>Logout</button>
          <!-- DELETE LINE BELOW -->
          <button (click)='navGetUser()'ngbDropdownItem>Get User (for testing)</button>
        </div>
      </span>
    </span>
      <span>The Web's Most Exciting Marketplace!</span>
      <span class='float-right welcome'>Welcome {{displayName}}</span>
  </div>

    <div *ngIf='loginnavbar'>
      <span class='float-left'>
        <span (click)='navHome()'>eBarter!</span>
      </span>
      <span class='welcome'>The Web's Most Exciting Marketplace!</span>
      <span class='float-right'>
          <form loginform>
            <input class='login-box' type='text' placeholder='username' name='username' id='namebox' [(ngModel)]='logincombo.username'>
            <span class='spacer-sm'></span>
            <input class='login-box' type='password' placeholder='password' name='password' id='passwordbox' [(ngModel)]='logincombo.password'>
            <span class='spacer-sm'></span>
            <button (click)='navLogin()' class='btn btn-success' id='login-button' type="submit">Login</button>
            <span class='spacer-sm'></span>
            <button (click)='navRegister()' class="btn btn-warning" id='register-button' type="submit">Register</button>
          </form>
        </span>
      </div>
</div>








  <!-- <span *ngIf='mainnavbar' id='navspan' class="navbar navbar-dark bg-primary nowrap">

      <a class="navbar-brand" href="#">eBarter!</a>
      <span class='navbar-text nowrap'>
      The Web's Most Exciting Marketplace!

        <div ngbDropdown class="nav-item dropdown">
          <a class="nav-link navbar-text" id="menudropdown" ngbDropdownToggle>Menu</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>List Item</button>
            <button ngbDropdownItem>My Completed Deals</button>
            <button ngbDropdownItem>My Profile</button>
            <button ngbDropdownItem>Logout</button>
           </div>
          </div>
    </span>
    <span class='float-right navbar-text nowrap' id='welcome'>Welcome USERNAME
      <span class='spacer'></span>
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Logout</button>
    </span>
  </span> -->

  <!-- <div *ngIf='loginnavbar' class="navbar navbar-dark bg-primary nowrap">
    <a class="navbar-brand" href="#">eBarter</a>
      <span class='float-right'>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Username" aria-label="Username">
          <input class="form-control mr-sm-2" type="search" placeholder="Password" aria-label="Password">
          <span class='spacer'></span>
          <button class="btn btn-warning my-2 my-sm-0" type="submit">Login</button>
        </form>
      </span>
  </div>
</div> -->
